* {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

body {
  background-color: rgb(232, 210, 235);
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#heading {
  text-align: center;
  margin-top: 40px;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 27px;
}

nav {
  background-color: #333333;
  color: #c0c0c0;
  height: 45px;
  padding: 10px;
  font-size: 27px;
  text-align: center;
}

nav a {
  color: white;
  margin: 10px 15px 10px 15px;
}

nav a:visited {
  color: white;
}

nav a:hover {
  color: rgb(200, 80, 204);
}

#table {
  font-size: 50px;
  text-align: center;
}

table {
  margin-left:auto;
  margin-right:auto;
}

td {
  height: 75px;
  width: 100px;
  background-color: rgb(99, 99, 99);
  transition: background-color 0.5s ease;
  text-align: center;
}

.red {background-color: red;}
.orange {background-color: orange;}
.yellow {background-color: yellow;}
.green {background-color: green;}
.blue {background-color: blue;}
.indigo {background-color: indigo;}
.violet {background-color: violet;}
.black {background-color: black;}
.white {background-color: white;}
.brown {background-color: brown;}

#resetButton {
  height: 50px;
  width: 100px;
  font-size: 25px;
}

#resetButton:hover {
  background-color: rgb(200, 80, 204);
}

#playAnotherButton {
  height: 100px;
  width: 200px;
  font-size: 25px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 15px;
}

#playAnotherButton:hover {
  background-color: rgb(200, 80, 204);
}

#winnerImg {
  height: 300px;
  width: 400px;
}

#stats {
  display: flex;
  height: 400px;
  width: 1000px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  font-size: 50px;
}

#playerRed {
  height: 400px;
  padding: 50px;
  margin-right: 80px;
  text-align: center;
}

#playerYellow {
  height: 400px;
  padding: 50px;
  margin-left: 80px;
  text-align: center;
}

.winCount {
  font-size: 75px;
}

#instruction {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#notFound {
  color: red;
  text-align: center;
  margin-top: 75px;
  font-size: 75px;
}

.painted {
  background-color: black;
}

.X:after {
  content: "X";
  font-size: 50px;
  color: white;
}
